<ion-header>
    <ion-toolbar>
        <ion-title>
            Donation
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Input Amount</ion-label>

        <ion-input [(ngModel)]="amount" placeholder="DAI" type="number"></ion-input>
    </ion-item>

    <div class="buttons">
        <ion-button class="donatebutton" size="small"
                    (click)="plusMoney(5)">
            5DAI
        </ion-button>
        <ion-button class="donatebutton" size="small"
                    (click)="plusMoney(10)">
            10DAI
        </ion-button>
        <ion-button class="donatebutton" size="small"
                    (click)="plusMoney(30)">
            30DAI
        </ion-button>
        <ion-button class="donatebutton" size="small"
                    (click)="plusMoney(50)">
            50DAI
        </ion-button>
    </div>

    <ion-item>
        <ion-label position="floating">Leave a message</ion-label>

        <ion-textarea class=""
                      [(ngModel)]="memo"
                      placeholder="I love you"
                      type="text"></ion-textarea>
    </ion-item>

    <div class="donate-button">
        <ion-button expand="block"
                    (click)="donates()">
            Donate!
        </ion-button>
    </div>
</ion-content>

