<ion-header>
    <ion-toolbar>
        <ion-title>
            Wallet
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>My Balance</ion-card-subtitle>
            <ion-card-title>{{amount}}DAI
                <ion-button class="faucet"
                            (click)="faucet()">
                    Faucet
                </ion-button>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content class="article">
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="ios-card" slot="start"></ion-icon>
            <ion-label>Connected Cards</ion-label>
            <ion-button fill="outline" slot="end" (click)="presentAlert()">View</ion-button>
        </ion-item>

        <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item routerLink="/sponsor-list">
            <img class="sponsor" src="assets/hand-shake.png" slot="start">
            <ion-label>Your Donations</ion-label>
        </ion-item>


        <ion-item routerLink="/sponsor-list">
            <ion-icon name="ios-cog" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-item>

        <ion-item (click)="logout()">
            <ion-icon name="ios-log-out" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
        </ion-item>
    </ion-card>
</ion-content>
