
.sponsor {
  width:  27px;
  display:block;
}

.deposit {
  width: 150px;
  height: 25px;
  float:right;
}

.article {
  white-space: pre-line;
}

//.input-wrapper {
//    display: flex;
//    flex-direction: inherit;
//    align-items: inherit;
//    align-self: stretch;
//    text-overflow: ellipsis;
//    box-sizing: border-box;
//    flex: 1 1 0%;
//    overflow: hidden;
//}
