<ion-header>
    <ion-toolbar>
        <ion-title>
            Market
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="category-wrap">
        <div class="category">
            <ion-icon class="food" name="ios-water"></ion-icon>
            Food
        </div>

        <div class="category">
            <ion-icon class="daily" name="ios-shirt"></ion-icon>
            Daily Necessity
        </div>

        <div class="category">
            <ion-icon class="medical" name="ios-medkit"></ion-icon>
            Medical Supply
        </div>

        <div class="category">
            <ion-icon class="baby" name="ios-nutrition"></ion-icon>
            For Babies
        </div>

        <div class="category">
            <ion-icon class="education" name="ios-bookmarks"></ion-icon>
            Education
        </div>

        <div class="category">
            <ion-icon class="animal" name="logo-octocat"></ion-icon>
            Animals
        </div>
    </div>
</ion-content>

