.photo {
  width: 100%;
}

.title {
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
}

.description {
  border-top: 1px solid black;
  padding: 12px 16px;
  margin-bottom: 50px;
}

.use-list {
  padding: 12px 16px;
  font-weight: bold;

}

.item-list {
  border-top: 1px solid black;
}